services:
  dynamodb-local:
    image: amazon/dynamodb-local
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    user: "1000:1000"
    volumes:
     - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:8000"]
    #   interval: 5s
    #   timeout: 3s
    #   retries: 3
    #   start_period: 5s

  lnky:
    build: .
    container_name: lnky
    depends_on:
      dynamodb-local:
        condition: service_started
        # condition: service_healthy
        # condition: service_completed_successfully
    ports:
      - "8080:8080"
    environment:
      AWS_REGION: "us-east-1"
      AWS_ENDPOINT: "http://dynamodb-local:8000"
      URLS_TABLE: "URLs"
      ANALYTICS_TABLE: "Analytics"
      AWS_ACCESS_KEY_ID: "DUMMYIDEXAMPLE"
      AWS_SECRET_ACCESS_KEY: "DUMMYEXAMPLEKEY"
      ENABLE_ADMIN_ENDPOINTS: "true"
      PORT: "8080"
    command: |
      sh -c "
        echo 'Waiting for DynamoDB to start...' &&
        apk add aws-cli &&
        sleep 7 &&
        echo 'Creating DynamoDB tables...' &&
        aws dynamodb create-table --table-name URLs --attribute-definitions AttributeName=short_id,AttributeType=S --key-schema AttributeName=short_id,KeyType=HASH --billing-mode PAY_PER_REQUEST --endpoint-url http://dynamodb-local:8000 --region us-east-1 --no-cli-pager || true &&
        aws dynamodb create-table --table-name Analytics --attribute-definitions AttributeName=short_id,AttributeType=S AttributeName=timestamp,AttributeType=S --key-schema AttributeName=short_id,KeyType=HASH AttributeName=timestamp,KeyType=RANGE --billing-mode PAY_PER_REQUEST --endpoint-url http://dynamodb-local:8000 --region us-east-1 --no-cli-pager || true &&
        echo 'Starting lnky application...' &&
        ./lnky"
